/* ESTILO.CSS */

* { 
	margin: 0; 
	padding: 0; 
}

body { 
	font-family: helvetica, arial; 
	font-size: 16px; 
	color:#333; 
}
header { 
	height: 90px; 
	background-color:#262626; 
}

footer { 
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 50px; 
	background-color: #44b874; 
	font-size:12px; 
	color: #333; 
}

/* id */
#conteudo { padding:100px 0; }
#menu { 
	float:right; 
	padding: 32px 0; 
}

#menu a { 
	text-decoration: none; 
	padding: 37px 40px; 
	color: #e3e3e3; 
	text-shadow: 1px 1px 1px #111; 
}

#menu a:hover{ 
	background-color:#44b874; 
}


.address-item-content {
	padding: 10px 10px 0;
	box-sizing: border-box;
  	box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  	border-radius: 2px 2px 0 0;
}

.address-item-content .first_line {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #4e5461;
	display: flex;
	align-items: center;
	padding-top: 4;
	padding-bottom: 4;
  }

  .address-item-content .second_line {
	display: flex;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	color: #4e5461;
	opacity: 0.6;
	align-items: center;
  }
  .address-item-content .second_line span a {
	padding: 10px;
	font-size: 24px;
  }






.address-form-container {
	display: grid;
	background: #fbfbfb;
	border: 0.5px solid #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	border-radius: 2px;
	padding: 8px 20px 20px;
  }
  .address_container {
	margin-top: 10px;
  }
  .address-item {
	background: #fbfbfb;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	border-radius: 2px;
  }
  .address-item--main {
	font-weight: 700;
	font-size: 12px;
	color: #ff6530;
	margin-left: 8px;
  }
  .address-item__header {
	background: #f5f5f5;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	border-radius: 2px;
	display: flex;
	height: 20px;
	align-items: center;
	color: #4e5461;
	font-weight: 700;
	padding: 5px;
  }
  .address-item__header__action {
	margin-left: auto;
	text-transform: uppercase;
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	color: #c2c2c2;
	border-radius: 2px;
	cursor: pointer;
	padding: 2px;
	display: flex;
  }
  .address-item__header__action:hover {
	background-color: #f1f1f1;
  }
  .address-item__content {
	padding: 10px 10px 0;
  }
  .address-item__content .first_line {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #4e5461;
	display: flex;
	align-items: center;
	padding-top: 4;
	padding-bottom: 4;
  }
  .address-item__content .second_line {
	display: flex;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	color: #4e5461;
	opacity: 0.6;
	align-items: center;
  }
  .address-item__content .second_line span button {
	padding-top: 3;
	padding-bottom: 3;
  }